#open {
  position: fixed;
  top: 10px;
  right: 10px;
}
.popup-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);

  display: none;
}
.popup-container.active {
  display: flex;
}
.popup {
  background-color: white;
  position: absolute;
  padding: 5px;
  width: 500px;
  top: 0;
  right: 500px;
  right: 0;
  bottom: 0;
}

#close {
  position: fixed;
  top: 10px;
  right: 10px;
}

/* my css */

.toast {
  background-color: rebeccapurple;
  border-radius: 2px;
  color: white;
  padding: 2rem;
  margin: 1rem;
}
#notificationContainer {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* .main-box {
  position: fixed;
  top: 50px;
  width: 490px;
  bottom: 10px;
  background-color: aqua;
}

.header-box {
  position: fixed;
  height: 50px;
  width: 490px;
  background-color: black;
} */
.head-titles {
  top: 100px;
  bottom: 100px;
  display: inline;
  padding-left: 50px;
}

table,
th,
td {
  border: 1px solid black;
}
table {
  border-spacing: 10px;
}

#pagination {
  margin-top: 2rem;
  text-align: center;
  padding: 0 5%;
}
#pagination a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  border: 1px solid #56ccf2;
  background: #56ccf2;
  margin: 1rem;
}

/* .pagination a:hover,
.pagination a:active {
  background: #56ccf2;
  color: #56ccf2;
} */
